<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image 5655.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>image 5657.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>17</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>image 5659.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>34</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>image 5661.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>22</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-2.5</real>
			</dict>
			<key>image 5663.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>17</integer>
				<key>y</key>
				<integer>21</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>image 5665.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>18</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>34</integer>
				<key>y</key>
				<integer>23</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>image 5667.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>17</integer>
				<key>y</key>
				<integer>43</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>image 5669.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>51</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>image 5671.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>72</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>image 5673.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>51</integer>
				<key>y</key>
				<integer>22</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>image 5675.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>93</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>image 5677.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>73</integer>
				<key>y</key>
				<integer>22</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>image 5679.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>90</integer>
				<key>y</key>
				<integer>22</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>image 5681.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>107</integer>
				<key>y</key>
				<integer>22</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>image 5683.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>90</integer>
				<key>y</key>
				<integer>43</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>image 5685.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>107</integer>
				<key>y</key>
				<integer>43</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>image 5687.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>46</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>image 5689.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>67</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>image 5691.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>17</integer>
				<key>y</key>
				<integer>64</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>image 5693.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>41</integer>
				<key>y</key>
				<integer>44</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>image 5695.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>90</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>image 5697.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>65</integer>
				<key>y</key>
				<integer>44</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>image 5699.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>41</integer>
				<key>y</key>
				<integer>70</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>image 5701.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>59</integer>
				<key>y</key>
				<integer>70</integer>
				<key>offsetX</key>
				<real>-0.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>image 5703.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>35</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>24</integer>
				<key>y</key>
				<integer>90</integer>
				<key>offsetX</key>
				<real>-1</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>image 5705.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>46</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>41</integer>
				<key>y</key>
				<integer>91</integer>
				<key>offsetX</key>
				<real>-12</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>image 5707.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>46</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>77</integer>
				<key>y</key>
				<integer>66</integer>
				<key>offsetX</key>
				<real>-9</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>image 5709.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>46</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>59</integer>
				<key>y</key>
				<integer>92</integer>
				<key>offsetX</key>
				<real>-6</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>image 5711.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>46</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>95</integer>
				<key>y</key>
				<integer>64</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>-3.5</real>
			</dict>
			<key>image 5713.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>18</integer>
				<key>originalWidth</key>
				<integer>46</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>77</integer>
				<key>y</key>
				<integer>89</integer>
				<key>offsetX</key>
				<real>0.5</real>
				<key>offsetY</key>
				<real>-4.5</real>
			</dict>
			<key>image 5715.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>46</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>95</integer>
				<key>y</key>
				<integer>86</integer>
				<key>offsetX</key>
				<real>3.5</real>
				<key>offsetY</key>
				<real>-4</real>
			</dict>
			<key>image 5717.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>46</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>124</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>6.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
			<key>image 5719.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>46</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>141</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>9.5</real>
				<key>offsetY</key>
				<real>-3</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>Tkdo0.png</string>
			<key>realTextureFileName</key>
			<string>Tkdo0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>