<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image 2738.png</key>
			<dict>
				<key>width</key>
				<integer>27</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-3</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>image 2740.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>29</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>image 2742.png</key>
			<dict>
				<key>width</key>
				<integer>29</integer>
				<key>height</key>
				<integer>25</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>27</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>image 2744.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>31</integer>
				<key>y</key>
				<integer>27</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 2746.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>60</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>image 2718.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>60</integer>
				<key>y</key>
				<integer>23</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 2748.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>87</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 2750.png</key>
			<dict>
				<key>width</key>
				<integer>35</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>79</integer>
				<key>y</key>
				<integer>24</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>image 2752.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>54</integer>
				<key>offsetX</key>
				<real>-6.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>image 2754.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>85</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>image 2756.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>29</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>38</integer>
				<key>y</key>
				<integer>51</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>image 2758.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>38</integer>
				<key>y</key>
				<integer>82</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>image 2760.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>77</integer>
				<key>y</key>
				<integer>55</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>1.5</real>
			</dict>
			<key>image 2762.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>77</integer>
				<key>y</key>
				<integer>88</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>image 2764.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>120</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>image 2766.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>116</integer>
				<key>y</key>
				<integer>32</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>2</real>
			</dict>
			<key>image 2768.png</key>
			<dict>
				<key>width</key>
				<integer>37</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>159</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>image 2770.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>116</integer>
				<key>y</key>
				<integer>64</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 2772.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>155</integer>
				<key>y</key>
				<integer>32</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>image 2774.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>198</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>image 2776.png</key>
			<dict>
				<key>width</key>
				<integer>32</integer>
				<key>height</key>
				<integer>28</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>116</integer>
				<key>y</key>
				<integer>98</integer>
				<key>offsetX</key>
				<real>8.5</real>
				<key>offsetY</key>
				<real>-2</real>
			</dict>
			<key>image 2778.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>154</integer>
				<key>y</key>
				<integer>65</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>image 2780.png</key>
			<dict>
				<key>width</key>
				<integer>31</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>188</integer>
				<key>y</key>
				<integer>32</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>image 2782.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>232</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>5.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>image 2784.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>154</integer>
				<key>y</key>
				<integer>94</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 2786.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>188</integer>
				<key>y</key>
				<integer>61</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>image 2788.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>232</integer>
				<key>y</key>
				<integer>21</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>image 2790.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>173</integer>
				<key>y</key>
				<integer>94</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>image 2792.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>209</integer>
				<key>y</key>
				<integer>61</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>4.5</real>
			</dict>
			<key>image 2794.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>229</integer>
				<key>y</key>
				<integer>43</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>image 2796.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>193</integer>
				<key>y</key>
				<integer>94</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>image 2798.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>229</integer>
				<key>y</key>
				<integer>77</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>image 2800.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>116</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>image 2802.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>21</integer>
				<key>y</key>
				<integer>116</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>image 2804.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>image 2806.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>44</integer>
				<key>y</key>
				<integer>114</integer>
				<key>offsetX</key>
				<real>2</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>image 2808.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>23</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>image 2810.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>188</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>image 2812.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>35</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>67</integer>
				<key>y</key>
				<integer>120</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>2.5</real>
			</dict>
			<key>image 2814.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>91</integer>
				<key>y</key>
				<integer>120</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>image 2816.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>34</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>24</integer>
				<key>y</key>
				<integer>188</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>3</real>
			</dict>
			<key>image 2818.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>47</integer>
				<key>y</key>
				<integer>157</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>image 2820.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>69</integer>
				<key>y</key>
				<integer>157</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>image 2822.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>32</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>46</integer>
				<key>y</key>
				<integer>192</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>4</real>
			</dict>
			<key>image 2824.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>115</integer>
				<key>y</key>
				<integer>128</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>image 2826.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>91</integer>
				<key>y</key>
				<integer>156</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>image 2828.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>67</integer>
				<key>y</key>
				<integer>192</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>image 2830.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>136</integer>
				<key>y</key>
				<integer>128</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>image 2832.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>111</integer>
				<key>y</key>
				<integer>163</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>image 2834.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>87</integer>
				<key>y</key>
				<integer>192</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>image 2836.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>156</integer>
				<key>y</key>
				<integer>126</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>image 2838.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>131</integer>
				<key>y</key>
				<integer>163</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>image 2840.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>107</integer>
				<key>y</key>
				<integer>198</integer>
				<key>offsetX</key>
				<real>2.5</real>
				<key>offsetY</key>
				<real>3.5</real>
			</dict>
			<key>image 2842.png</key>
			<dict>
				<key>width</key>
				<integer>18</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>224</integer>
				<key>offsetX</key>
				<real>-2.5</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>image 2844.png</key>
			<dict>
				<key>width</key>
				<integer>19</integer>
				<key>height</key>
				<integer>21</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>20</integer>
				<key>y</key>
				<integer>224</integer>
				<key>offsetX</key>
				<real>-4</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>image 2846.png</key>
			<dict>
				<key>width</key>
				<integer>20</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>41</integer>
				<key>y</key>
				<integer>227</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>-1.5</real>
			</dict>
			<key>image 2848.png</key>
			<dict>
				<key>width</key>
				<integer>23</integer>
				<key>height</key>
				<integer>14</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>63</integer>
				<key>y</key>
				<integer>227</integer>
				<key>offsetX</key>
				<real>-7</real>
				<key>offsetY</key>
				<real>-7</real>
			</dict>
			<key>image 2850.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>10</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>63</integer>
				<key>y</key>
				<integer>243</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>-9</real>
			</dict>
			<key>image 2852.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>10</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>151</integer>
				<key>y</key>
				<integer>163</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>-9</real>
			</dict>
			<key>image 2854.png</key>
			<dict>
				<key>width</key>
				<integer>22</integer>
				<key>height</key>
				<integer>12</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>176</integer>
				<key>y</key>
				<integer>128</integer>
				<key>offsetX</key>
				<real>-7.5</real>
				<key>offsetY</key>
				<real>-8</real>
			</dict>
			<key>image 2730.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>176</integer>
				<key>y</key>
				<integer>142</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 2732.png</key>
			<dict>
				<key>width</key>
				<integer>21</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>127</integer>
				<key>y</key>
				<integer>198</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>image 2734.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>151</integer>
				<key>y</key>
				<integer>175</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 2736.png</key>
			<dict>
				<key>width</key>
				<integer>25</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>200</integer>
				<key>y</key>
				<integer>128</integer>
				<key>offsetX</key>
				<real>8</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 2728.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>88</integer>
				<key>y</key>
				<integer>227</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>-1</real>
			</dict>
			<key>image 2720.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>22</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>227</integer>
				<key>y</key>
				<integer>113</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>image 2722.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>150</integer>
				<key>y</key>
				<integer>199</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
			<key>image 2724.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>24</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>127</integer>
				<key>y</key>
				<integer>223</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>image 2726.png</key>
			<dict>
				<key>width</key>
				<integer>17</integer>
				<key>height</key>
				<integer>23</integer>
				<key>originalWidth</key>
				<integer>55</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>199</integer>
				<key>y</key>
				<integer>152</integer>
				<key>offsetX</key>
				<real>3</real>
				<key>offsetY</key>
				<real>0.5</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>HolyKnight0.png</string>
			<key>realTextureFileName</key>
			<string>HolyKnight0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>