<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/close_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,108},{38,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,29}</string>
			</dict>
			<key>ui/close_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,150},{38,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,29}</string>
			</dict>
			<key>ui/close_p.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,192},{38,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{38,29}</string>
			</dict>
			<key>ui/bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,108},{27,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{27,28}</string>
			</dict>
			<key>ui/button_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,234},{23,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,19}</string>
			</dict>
			<key>ui/button_p.png</key>
			<dict>
				<key>frame</key>
				<string>{{29,234},{23,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,19}</string>
			</dict>
			<key>ui/bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{40,70},{16,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,17}</string>
			</dict>
			<key>ui/frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>ui/entrance.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,70},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ui.png</string>
			<key>realTextureFileName</key>
			<string>ui.png</string>
			<key>size</key>
			<string>{128,256}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>128</integer>
			<key>height</key>
			<integer>256</integer>
		</dict>
	</dict>
</plist>